#crawler-js-container
  #crawler-js


= javascript_include_tag "virtualjoystick/virtualjoystick.js"
= javascript_include_tag "microevents/microevent.js"
= javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"

