#crawler-js-container
  #crawler-js
    %h1
      Joystick Controls
    %h1.bottom
      = link_to "Switch to Slider",crawler_index_path


= javascript_include_tag "virtualjoystick/virtualjoystick.js"
= javascript_include_tag "microevents/microevent.js"
= javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"

