#crawler-js-container
  #crawler-js
    %h1.top
      Joystick Controls
    .outer
      .inner
        %img.background-image{src: '/crawler/image.jpg'}
  %h1.js-bottom
    = link_to "Switch to Slider",crawler_slider_path

= javascript_include_tag "virtualjoystick/virtualjoystick.js"
= javascript_include_tag "microevents/microevent.js"
= javascript_include_tag "#{controller.controller_name}/#{controller.action_name}"

:javascript
  var failsafe = null
  $('document').ready(function () {
  window.load_delay = 500;
  function refresh_image() {
    if(failsafe) {
      clearTimeout(failsafe);
    }
    d = new Date()
    current_time = d.getTime();
    $(".background-image").attr("src","/crawler/image.jpg?" + d.getTime())
    failsafe = setTimeout(refresh_image,5000);
  }
  $(".background-image").on("load", function () {
    setTimeout(refresh_image,window.load_delay);
    });
  refresh_image();
  });
